<!DOCTYPE html>
<html>
<head>

<style>
                @media (min-width: 768px) {
  #content {
    width:60%;
    margin:5px auto;
    font-size:16px;
  }
}
</style>
<title></title>
</head>
<body>
<div class="container">
<div id="content">
<div class="row justify-content-center text-justify">
<div class="col-12">
<h1 style="text-align: center; color: #f0134d;">Majibu</h1>
<hr>
<p>Dear ${name},</p>
<p>Congratulations on securing your spot.</p>
<p>You've made a smart choice and here's why...</p>
<p>You enrolled to <strong>Majibu</strong> so that you get to...</p>
<ul>
<li><strong>Create a side hustle that requires no skills to set-up and still earn steady profits from it.</strong></li>
<li><strong>Receive revenue from a source that is not affected by economic decline or unfortunate events.</strong></li>
<li><strong>Have a lucrative income that is not limited by time-constraints so that you can choose whatever time you want to tap into it.</strong></li>
<li><strong>Own a trust-worthy venture that delivers results day-in-day-out and see these results in record-breaking time.</strong></li>
</ul>
<p>And the best part?</p>
<p>You have reserved for yourself a<strong> guaranteed FREE access to Majibu's benefits</strong>&nbsp;worth $29 every month while others pay this price just to enroll!</p>
<p>Now while this offer is still open and last-minute rush has not kicked in...</p>
<p>I'm going to make you a special offer that is only available right here, right now - Go ahead and ask me that burning question you have...&nbsp;</p>
<p><strong>What about Majibu do you want to know. Or what is you don't understand that you would like immediately addressed?</strong></p>
<p>I'm only making this offer available to you because you've proved to be an action taker.&nbsp;</p>
</div>
</div>
<p>So make the best of this opportunity and click this button.</p>
<div class="row justify-content-center">
<div class="col-10"><a rel="noopener noreferrer" href="https://rebrand.ly/majibuform" class="button" style="display: block; margin-left: auto; margin-right: auto; text-align: center; background-color: #f0134d; border-radius: 10px; border: 2px #F01330; cursor: pointer; color: #ffffff; font-family: Arial; font-size: 16px; padding: 16px 31px; text-decoration: none; text-shadow: 0 0 0 .3rem rgba(210,13,66,0.6); width: 70%;">Get that burning question out now!</a></div>
</div>
<div class="row">
<div class="col"><hr>
<p><strong><em>P.S.</em></strong> <em>And by the way if this is not for you. That&rsquo;s perfectly fine. It&rsquo;s not for everyone... Just share this with someone else who may need it.</em></p>
<p style="text-align: center;"><a rel="noopener noreferrer" href="www.majibu.co.ke">www.majibu.co.ke</a></p>
<p style="text-align: center;">Send Feedback | <a rel="noopener noreferrer" href="mailto:support@majibu.co.ke">support@majibu.co.ke</a></p>
</div>
</div>
</div>
</div>
</body>
</html>